.fc-button.fc-button-primary {
    padding: 5px 10px;
    background-color: #041C32;
}
.fc-button.fc-button-primary:not(:disabled):hover {
    background-color: #08557a;
    transition: background-color 0.1s linear;
}
.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus {}