html, body, #app {
    height: 100%;
    width: 100%;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    border-color: rgba(0, 1, 161, 0.8);
    box-shadow: none;
    outline: 0 none;
}

a, a:hover {
    color: black;
    text-decoration: none;
    cursor: auto;
}

.container {
    padding: 10px;
    margin: 0;
    background: #F3F1F5;
    max-width: initial;
}

#app[data-screen="dashboard"], #app[data-screen="calendar"], #app[data-screen="customers"],
#app[data-screen="notes"] {
    display: flex;
}